@using SiegeNut.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section Header {
    <h1>@ViewBag.Title</h1>
}
<div class="row login form">
    <div class="col-md-6">
        @Html.Partial("_LoginForm", Model.LoginModel)
    </div>
    <div class="col-md-6">
        @Html.Partial("_RegisterForm", Model.RegisterModel)
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
