@using SiegeNut.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
}
@section Header {
    <h1>@ViewBag.Title</h1>
}
<script src="~/Content/loginpage.js"></script >
<div class="row login form">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="text-center">
            <div class="btn-group btn-group-lg">
                <input type="button" class="btn default" value="Login" />
                <input type="button" class="btn" value="Register" />
            </div>
        </div>
        <div id="register">@Html.Partial("_RegisterForm", Model.RegisterModel)</div>
        <div id="login">@Html.Partial("_LoginForm", Model.LoginModel)</div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
