@model SiegeNut.Models.Product

@{
    ViewBag.Title = "Create";
}
@section Header {
    <h1>Create</h1>
}
@section Form
{
    @Html.Partial("_ProductForm", Model)
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
