@model SiegeNut.Models.Product

@{
    ViewBag.Title = "Edit";
}
@section Header {
    <h1>Edit</h1>
}
@section Form {
    @Html.Partial("_ProductForm", Model)
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
