@model SiegeNut.Models.Review

@{
    ViewBag.Title = "Create";
}
@section Header {
    <h1>Create</h1>
}
@section Form {
    @Html.Partial("_ReviewForm", Model)
}
@Html.ActionLink("Back to List", "Index", null, new { @class = "btn" })

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
