@model SiegeNut.Models.Review

@{
    ViewBag.Title = "Edit";
}
@section Header {
    <h1>Edit</h1>
}
@section Form {
    @Html.Partial("_ReviewForm", Model)
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
