body {
    padding-top: 50px;
	font-family: 'Libre Baskerville', serif;
    background-color: #F8F8F8;
}
.container-fluid {
    min-height: 95vh;
}
.header-content {
    background-color: lightgray;
    text-align: center;
}
a, a:hover, a:focus {
    outline: 0;
}
.content {
    padding: 20px 50px;
}
.footer-content {
    background-color: lightgray;
    padding-left: 50px;
}
.footer-content p {
    margin: 0px;
    font-size: 16px;
}
.body-content {
    margin: 0px 3vh 3vh 3vh;
    min-height: 25vh;
}
.form {
    padding: 0px 30px;
}
.form .col-md-6 {
    max-width: 700px;
}
.form-group textarea {
    max-width: 100%;
    min-width: 100%;
}
.login .col-md-6 {
    padding: 30px 50px;
}
.login .col-md-6 > div {
    padding: 0px 20px;
}
.login input {
    max-width: 90%;
}
h1 {
    font-family: 'Kumar One';
    font-size: 60px;
}
h2, h3, h4, h5, h6,
.navbar .navbar-collapse {
	font-family: 'Playfair Display SC', serif;
}
/*NAVBAR*/

.navbar .navbar-collapse {
	text-align: center;
}
.navbar-brand {
    padding-top: 17px;
}
.navbar-default {
    border-bottom: none;
}
.navbar-default .navbar-brand {
	color: black;
}
.navbar-default .navbar-nav li a {
	color: black;
    padding-bottom: 17px;
}
.navbar-default .navbar-nav {
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus {
    background-color: lightgray;
    color: black;
}
.navbar-default .navbar-brand:active,
.navbar-default .navbar-nav > li > a:active {
    background-color: darkgray;
}
.front-page .product .btn {
    color: black;
    font-size: 24px;
    border-radius: 30px;
    background-color: lightgray;
    width: 100%;
}
.front-page .product div {
    padding: 20px;
}
.front-page .product .btn:hover {
    background-color: darkgray;
}
.front-page .product .btn:active {
    background-color: gray;
}
.front-page .product p:last-child {
    padding: 20px;
}
.navbar-brand {
	font-family: 'Kumar One', cursive;
}
.list {
    margin: 30px;
}
textarea.form-control {
    height: 300px;
}
.item .col-md-12 {
    margin: 15px 0px;
}
.item .col-md-12:last-of-type {
    margin-top: 30px;
}
.btn {
    border: 1px solid lightgray;
    background-color: transparent;
    color: gray;
    font-family: 'Playfair Display SC', serif;
}
.btn:focus {
    outline: none;
}
.btn:hover {
    background-color: lightgray;
    color: darkslategray;
}
.btn:active {
    box-shadow: none;
    background-color: darkgray;
    color: black;
    border-color: darkgray;
}
.item {
    padding: 20px;
    margin: 0px 3% 3% 3%;
}
.item,
.btn-create{
    border-radius: 6px;
    border: 1px solid lightgray;
}
.item div:first-child {
    font-size: 30px;
}
.btn-create {
    margin-bottom: 0px;
    margin-left: 3%;
}
.item .img-rounded {
    margin: 50px 0px;
    border: 7px solid lightgray;
}
.list .search-row {
    border: none;
    padding: 5px 0px;
    margin: 0px 3%;
}
.list .search-row .col-lg-6 {
    padding: 5px 0px;
}
.list .item .image img {
    max-height: 60vh;
}
.input-group-lg > .input-group-btn > select.btn {
    padding: 0px 15px;
    border-right: none;
}
.input-group-btn:last-child > .btn {
    border-left: none;
}
.list .search-row select.btn:focus,
.list .search-row select.btn:hover {
    outline: none;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1000px;
}

.header {
    height: 75vh;
    background-color: transparent;
    background-image: url('../Images/castle-header.jpg');
    background-size: cover;
}
.header .jumbotron {
    color: black;
    background-color: transparent;
}
.header .jumbotron .col-sm-6 {
    background-color: rgba(255,255,255,0.7);
    padding: 40px;
    border-radius: 40px;
    margin-top: 10vh;
    word-wrap: break-word;
}
.header .jumbotron p {
    float:none;
    margin: auto;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: darkgray;
    border-color: darkgray;
}
.pagination > li > a,
.pagination > li > span {
  padding: 10px 16px;
  font-size: 18px;
  color: gray;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.page-box {
    margin: 0px 3%;
    font-size: 16px;
}
.page-box p {
    margin: 0px;
}
.about > div {
    border: 1px solid lightgray;
    padding: 40px 70px;
    margin: 30px 0px;
    border-radius: 6px;
}
.about div h2 {
    margin: 0px 0px 30px 0px;
}
.ratings {
    margin: 2px 0px;
}
.ratings img {
    height: 25px;
}
.form-group img {
    cursor: pointer;
}
.highlight {
    background: red;
}
.border {
    background-color: red;
}
.ratings {
    margin: 20px 0px;
}
#lightbox {
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0; 
    left:0;
    width:100%; 
    height:100%; 
    background-color: rgba(0,0,0,0.7);
    text-align:center;
}
#lightbox img {
    position: fixed;
  top: 52%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
    box-shadow:0 0 25px #111;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width:940px;
}
@media (max-width: 978px) {
    .body-content {
        padding: 10px;
    margin: 0px 0px 3vh 0px;
}
}