/*GENERAL ELEMENTS*/

body {
    padding-top: 50px;
    font-family: 'Libre Baskerville', serif;
    background-color: #F8F8F8;
    image-rendering: -webkit-optimize-contrast;
}
.container-fluid {
    min-height: 95vh;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
h1 {
    font-family: 'Kumar One';
    font-size: 60px;
}
h2, h3, h4, h5, h6,
.navbar .navbar-collapse {
	font-family: 'Playfair Display SC', serif;
}
a, a:hover, a:focus {
    outline: 0;
}
/*NAVBAR*/

.navbar .navbar-collapse {
	text-align: center;
}
.navbar-brand {
    padding-top: 17px;
}
.navbar-default {
    border-bottom: none;
    box-shadow: 0px 3px 16px rgba(0,0,0,0.4);
}
.navbar-default .navbar-brand {
	color: black;
}
.navbar-default .navbar-nav li a {
	color: black;
    padding-bottom: 17px;
}
.navbar-default .navbar-nav {
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-nav > li > a:focus {
    background-color: lightgray;
    color: black;
}
.navbar-default .navbar-brand:active,
.navbar-default .navbar-nav > li > a:active {
    background-color: darkgray;
}
.navbar-brand {
    font-family: 'Kumar One', cursive;
}
.btn {
    border: 1px solid lightgray;
    background-color: transparent;
    color: gray;
    font-family: 'Playfair Display SC', serif;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.05);
}
.btn:focus {
    outline: none;
}
.btn:hover {
    background-color: lightgray;
    color: darkslategray;
    border-color: rgba(0,0,0,0.2);
    outline: none;
}
.btn:active {
    box-shadow: none;
    background-color: darkgray;
    color: black;
    border-color: darkgray;
    box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.row-eq-height .image {
    display: flex;
}
.row-eq-height .image img {
    align-self: center;
    display: block;
    margin: auto;
}
/*LAYOUT PAGE*/

.header-content, .footer-content {
    background-color: rgba(0,0,0,0.08);
    padding: 30px;
}
.header-content {
    text-align: center;
}
.footer-content p {
    margin: 0px;
    font-size: 16px;
}

/*FORMS*/

.form {
    padding: 0px 30px;
}
.form .col-md-6 {
    max-width: 700px;
}
.form-group textarea {
    max-width: 100%;
    min-width: 100%;
}
.form .col-sm-6 {
    margin-top: 30px;
    padding: 30px 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);
}
.form .col-sm-6 > div {
    padding: 0px 20px;
}
.form .ratings img {
    height: 30px;
}
.form .form-group:last-child {
    margin-top: 40px;
}

/*LOGIN PAGE*/

.login .selected,
.login .selected:hover {
    background-color: darkgray;
    color: black;
    border-color: darkgray;
    box-shadow: inset 0px 2px 2px rgba(0,0,0,0.1);
}
.login p {
    margin-top: 7px;
}
.login > .col-sm-6 > .text-center {
    margin-bottom: 40px;
}

/*FRONT PAGE*/

.header {
    height: 75vh;
    background-color: transparent;
    background-image: url('../Images/castle-header.jpg');
    background-size: cover;
}
.header .greeter h1 {
    font-size: 70px;
    padding: 10px;
    margin-bottom: 10px;
    word-break: break-all;
    word-wrap: break-word;
}
.header .greeter {
    max-width: 700px;
    padding: 40px;
    border-radius: 40px;
    background-color: rgba(255,255,255,0.8);
    align-self: center;
    margin-bottom: 100px;
}
.header .overlay {
    box-shadow:0px 0px 70px 70px rgba(0,0,0,0.1) inset;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
.front-page .row,
.icon-row {
    padding: 50px;
}
.front-page .row:first-child {
    min-height: 25vh;
}
.front-page .row:nth-child(2) {
    background-color: rgba(0,0,0,0.05);
}
.front-page .row:nth-child(2) .col-md-6:first-child {
    padding: 0px 100px 40px 120px;
}
.front-page .row:nth-child(2) .col-md-6 img {
    max-height: 60vh;
    border-radius: 18px;
}
.front-page .row:nth-child(2) p {
    padding: 10px 0px;
}
.icon-row {
    text-align: center;
}
.front-page .row h2,
.about h2 {
    display: block;
    margin: 0px auto 50px auto;
    font-size: 40px;
    font-weight: bold;
}
.front-page h3,
.icon-row h3 {
    font-size: 30px;
}
.front-page p,
.icon-row p {
    padding: 10px 20px;
}
.icon-row span {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 180px;
    line-height: 180px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.05);
}
.icon-row span img {
    height: 50%;
}
.icon-row span.xs img {
    height: 40%;
}
.about .carousel {
    border-radius: 18px;
    overflow: hidden;
    align-self: center;
}
.about .carousel .carousel-control {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: auto 3%;
    background-color: rgba(0,0,0,0.8);
    background-image: none;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}
.about .carousel .carousel-control:focus {
    opacity: 0.5;
}
.about .carousel .carousel-control:hover {
    opacity: 0.9;
}

/*ABOUT PAGE*/

.about h2 {
    text-align: center;
}
.about .row .col-md-6 {
    padding: 40px;
}
.about .icon-row {
    background-color: white;
}
.about .business {
    background-color: rgba(0,0,0,0.02);
}
.about .carousel .carousel-control span.glyphicon {
    position: absolute;
    top: 35%;
    left: 38%;
    font-size: 22px;
}
.about > .row > .col-md-6 p {
    margin-bottom: 40px;
}
.about .row .text {
    padding: 0px 80px;
    align-self: center;
}
.about .location {
    background-color: white;
}
.about .location img {
    border-radius: 18px;
    max-height: 50vh;
}

/*LISTS*/

.list {
    margin: 30px;
}
textarea.form-control {
    height: 300px;
}
.item .col-md-12 {
    margin: 20px 0px;
}
.item .col-md-12 img.star {
    height: 20px;
    margin-bottom: 2px;
}
.item .col-md-12:last-of-type {
    margin-top: 30px;
}
.review-title p {
    margin: 0px;
}
.review-title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 7px;
}
.review-title div:first-child {
    min-width: 110px;
    margin-right: 10px;
}
.list .item {
    padding: 20px;
    margin: 0px 3% 2% 3%;
}
.list .item,
.btn-create{
    border-radius: 6px;
}
.list .item {
    background-color: white;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
}
.list .item h2 {
    font-size: 30px;
}
.btn-create {
    margin-bottom: 0px;
    margin-left: 3%;
}
.list .item .img-rounded {
    margin: 50px 0px;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    transition: 0.2s;
}
.list .search-row {
    border: none;
    padding: 5px 0px;
    margin: 3px 3%;
}
.list .search-row .col-lg-6 {
    padding: 5px 0px;
}
.rating-search {
    display: none;
}

/*PRODUCTS PAGE*/

.list .product .lightbox-trigger:hover {
    box-shadow: 0px 2px 14px rgba(0,0,0,0.4);
    cursor: pointer;
}
.list .product .lightbox-trigger:active {
    box-shadow: 0px 2px 8px rgba(0,0,0,0.4);
}
.list .product .text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
}
.list .product .text h2 {
    text-align: center;
    margin-bottom: 35px;
}
.list .product .text div:last-child {
    margin-top: 35px;
    text-align: center;
}
.list .product .image {
    display: flex;
    flex-direction: column;
    align-content: center;
}
.list .product .image img {
    display: block;
    margin: auto;
    max-height: 50vh;
}
.input-group-lg > .input-group-btn > select.btn {
    padding: 0px 15px;
    border-right: none;
}
.input-group-btn:last-child > .btn {
    border-left: none;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 1000px;
}
#lightbox {
    position: fixed; /* keeps the lightbox window in the current viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
}
#lightbox img {
    position: fixed;
    top: 53%;
    left: 50%;
    max-height: 97vh;
    max-width: 100vw;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    box-shadow: 0 0 25px #111;
    -webkit-box-shadow: 0 0 25px #111;
    -moz-box-shadow: 0 0 25px #111;
}

/*PAGINATION*/

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: darkgray;
    border-color: darkgray;
}
.pagination > li > a,
.pagination > li > span {
    padding: 10px 16px;
    font-size: 18px;
    color: gray;
    box-shadow: 0px 2px 1px rgba(0,0,0,0.05);
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.page-box {
    margin: 0px 3%;
    font-size: 16px;
}
.page-box p {
    margin: 0px;
}

.form-group img {
    cursor: pointer;
}

@media (max-width: 1170px) {
    .front-page .row:nth-child(2) .col-md-6:first-child {
        padding: 0px 60px 40px 60px;
    }
}
@media (max-width: 978px) {
    .front-page .row,
    .icon-row {
        padding-left: 0px;
        padding-right: 0px;
    }

    .front-page .row:nth-child(2) .col-md-6:first-child {
        padding: 0px 30px 40px 30px;
        text-align: center;
    }

    .front-page .row:nth-child(2) .col-md-6 img {
        display: block;
        margin: auto;
        width: 50%;
    }

    .header .greeter h1 {
        font-size: 55px;
    }

    .row-eq-height {
        display: inherit;
    }
    .product .text {
        margin-bottom: 30px;
    }


}
@media (max-width: 560px) {
    .header .greeter h1 {
        font-size: 40px;
    }
    .list {
        margin: 0;
    }
    .review-title {
        display: inherit;
    }
}