@{
    ViewBag.Title = "About";
    ViewBag.Message = "About SiegeNut";
}
@section Header {
    <h1>@ViewBag.Title</h1>
}
<div class="row info">
    <div class="col-md-12">
        <h2>Project Description</h2>
        <p>SiegeNut is a website to review siege weaponry for assaulting castles or other fortifications. You can see our products and click on them for a description of what the product does as well as a list of reviews.</p>
        <p>This is an ASP.NET project created using MVC framework. The site can be viewed while logged out, but users must create an account to write a new review, or edit and delete their reviews.</p>
    </div>
    <div class="col-md-12">
        <h2>Photo Attributions</h2>
        <p>Trebuchet: <a href="http://en.wikipedia.org/wiki/User:ChrisO">Chris0</a></p>
        <p>Battering ram: <a href="https://en.wikipedia.org/wiki/User:Ballista">Ballista</a></p>
        <p>Portcullis: <a href="https://www.flickr.com/photos/exfordy/3335770018">Brian Snelson</a></p>
    </div>
</div>