@{
    ViewBag.Title = "About";
    ViewBag.Message = "About SiegeNut";
}
@section Header {
    <h1>@ViewBag.Title</h1>
}

<h3>@ViewBag.Message</h3>

<p>SiegeNut is a website to review siege weaponry for assaulting castles or other fortifications. You can see our products and click on them for a description of what the product does as well as a list of reviews.</p>
