@{
    ViewBag.Title = "About";
}
@section Header {
<h2>@ViewBag.Title</h2>
}

<h3>@ViewBag.Message</h3>

<p>Pellentesque felis nunc, placerat eget ultrices in, sollicitudin id ex. Quisque ultrices eros tellus, id pharetra dui placerat sit amet. Sed vulputate lobortis quam, sed bibendum tellus sollicitudin nec. Cras libero leo, semper id urna sed, consectetur faucibus nisl. Nunc eu consequat nisl. Sed nec varius ligula, sit amet pretium augue. Duis ornare venenatis bibendum. </p>
