@{
    ViewBag.Title = "Contact";
    ViewBag.Message = "For Assistance reach us at: ";
}
@section Header {
<h1>@ViewBag.Title</h1>
    }
<h3>@ViewBag.Message</h3>

<address>
    King Landings Way<br />
    Wales, EN 91231-6309<br />
    Phone #: 325-555-5100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:SiegeNut@hastings.com">SiegeNut@hastings.com</a><br />
</address>