@model IEnumerable<SiegeNut.Models.Product>

@{
    ViewBag.Title = "Home Page";
}
@section HomeHeader {
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p><h1>SiegeNut</h1></p>
                <p><h3>Your one-stop shop for all your siege weaponry needs</h3></p>
            </div>
        </div>
    </div>
}

<div class="front-page text-center">
    <div class="row">
        <h2>What we do</h2>
        <div class="col-sm-3">
            <span>
                <img src="~/Images/noun_736489_cc treb.svg" /> @*Created by Ben Davis from the Noun Project*@
            </span>
            <h3>We Sell</h3>
            <p>Weapons and fortifications of all kinds are available for purchase</p>
        </div>
        <div class="col-sm-3">
            <span>
                <img src="~/Images/noun_559374_cc castle.svg" /> @*Created by Zlatko Najdenovski from the Noun Project*@
            </span>
            <h3>We Buy</h3>
            <p>Sell back your unneeded or used equipment for some extra cash</p>
        </div>
        <div class="col-sm-3">
            <span>
                <img src="~/Images/noun_962242_cc hammer.svg" /> @*Created by Mushu from the Noun Project*@
            </span>
            <h3>We Fix</h3>
            <p>Send in your broken equipment and we'll fix it for a fee</p>
        </div>
        <div class="col-sm-3">
            <span>
                <img src="~/Images/noun_220014_cc quill.svg" /> @*Created by Andreas Wikström from the Noun Project*@
            </span>
            <h3>We Rate</h3>
            <p>Every item on the storefront is reviewed and rated by our enthusiastic community</p>
        </div>
    </div>
</div>