@{
    ViewBag.Title = "Home Page";
}
@section Header {
<div class="floral-border">
    <div class="jumbotron">
        <h1>SiegeNut</h1>
    </div>
</div>
    }

<div class="front-page row text-center">
    <div class="col-md-4">
        <h2>Trebuchets</h2>
        <p>
            Nam nisi nisl, tempor aliquam odio pulvinar, vehicula lobortis nisi. Morbi pharetra fermentum enim, a volutpat velit iaculis id. Nulla facilisi. Pellentesque vitae varius velit. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Battering Rams</h2>
        <p>Cras porta tellus lectus, sit amet finibus massa venenatis sed. Etiam scelerisque, elit eget venenatis vestibulum, leo lectus porttitor ante, non ultrices eros turpis eu arcu. Integer sit amet pretium ligula. </p>
    </div>
    <div class="col-md-4">
        <h2>Porcullises</h2>
        <p>Donec ut magna eros. Praesent blandit aliquet massa porta blandit. Ut eu risus dignissim, facilisis metus id, placerat arcu. Proin facilisis nibh sed sapien ornare accumsan. </p>
    </div>
</div>