@model IEnumerable<SiegeNut.Models.Product>

@{
    ViewBag.Title = "Home Page";
}
@section HomeHeader {
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <p><h1>SiegeNut</h1></p>
                <hr />
                <p><h3>Your one-stop shop for all your siege weaponry needs</h3></p>
            </div>
        </div>
    </div>
}

<div class="front-page row text-center">
    @foreach (var product in Model)
    {
    <div class="col-md-4">
        <div>
            <h2>@product.Name</h2>
            <p>
                @product.Description
            </p>
        </div>
    </div>
    if (product.ID >= 3) { break; }
    }
</div>