@model IEnumerable<SiegeNut.Models.Product>

@{
    ViewBag.Title = "Home Page";
}
@section HomeHeader {
    <div class="greeter">
    <p><h1>SiegeNut</h1></p>
    <p><h3>Your one-stop shop for all your siege weaponry needs</h3></p>
    </div>
}

<div class="front-page">
    <div class="row icon-row">
        <div class="col-sm-12">
            <h2>What we do</h2>
        </div>
        <div class="col-sm-3">
            <span>
                <img src="~/Images/noun_736489_cc treb.svg" /> @*Created by Ben Davis from the Noun Project*@
            </span>
            <h3>We Buy</h3>
            <p>Sell back your unneeded or used equipment for some extra cash.</p>
        </div>
        <div class="col-sm-3">
            <span>
                <img src="~/Images/noun_559374_cc castle.svg" /> @*Created by Zlatko Najdenovski from the Noun Project*@
            </span>
            <h3>We Sell</h3>
            <p>Weapons and fortifications of all kinds are available for purchase.</p>
        </div>
        <div class="col-sm-3">
            <span>
                <img src="~/Images/noun_962242_cc hammer.svg" /> @*Created by Mushu from the Noun Project*@
            </span>
            <h3>We Fix</h3>
            <p>Send in your broken equipment and we'll fix it for a fee.</p>
        </div>
        <div class="col-sm-3">
            <span>
                <img src="~/Images/noun_220014_cc quill.svg" /> @*Created by Andreas Wikström from the Noun Project*@
            </span>
            <h3>We Rate</h3>
            <p>Every item on the storefront is reviewed by our enthusiastic community.</p>
        </div>
    </div>
    <div class="row row-eq-height">
        <div class="col-md-6 text-left">
            <h2>Why Sign Up</h2>
                <h3>Join the Community</h3>
                <p>
                    By joining Siegenut you can be part of the largest community of siege equipment enthusiasts on the net.
                    You gain access to our huge storefront and can participate in giving reviews of the equipment you buy.
                </p>
                <h3>Quality Support</h3>
                <p>
                    Our site is known for its rapid support team and QA specialists.
                    If you're having trouble with a piece of equipment our representatives will walk you through the assembly and usage process.
                </p>
                <h3>All-hours Delivery</h3>
                <p>
                    Ever been stuck in an assault when your only catapult breaks?
                    Our delivery services can get you out a jam as fast as our ships can sail.
                </p>
            </div>
        <div class="col-md-6 image">
            <img class="img-rounded " src="~/Images/assault.png" />
        </div>
    </div>
</div>
